export(iClusterVB)
export(CAVI_algorithm_standard)
export(CAVI_algorithm_global)
export(countValues)
export(ddirichlet)
export(findIndices_char)
export(findIndex_numeric)
export(log_ddirichlet)
export(softmax_log)
import(RcppArmadillo)
import(Rcpp)
import(inline)
import(compiler)
import(cluster)
import(MASS)
import(mclust)
import(MCMCpack)
import(mvtnorm)
import(VarSelLCM)
import(clustMixType)
import(poLCA)
useDynLib(iClusterVB)
