export(iClusterVB)
export(CAVI_algorithm_global)
export(CAVI_algorithm_standard)
import(RcppArmadillo)
import(Rcpp)
import(inline)
import(compiler)
import(cluster)
import(MASS)
import(mclust)
import(MCMCpack)
import(mvtnorm)
import(VarSelLCM)
import(clustMixType)
import(poLCA)
useDynLib(iClusterVB)
